<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
    
    https://api.fullcontact.com/v2/address/locationNormalizer.json?place=denver%20co%20us&apiKey=f321952717a9fceb
    https://api.fullcontact.com/v2/person.json?twitter=lorangb&apiKey=xxxx
    https://api.fullcontact.com/v2/person.json?facebookUsername=bart.lorang&apiKey=xxxx
    https://api.fullcontact.com/v2/person.json?phone=+13037170414&apiKey=xxxx
    https://api.fullcontact.com/v2/address/locationNormalizer.json?place=denver&apiKey=xxxx
    
    -->
    
    <add key="AppBlocks.FullContact.ApiUrl" value="https://api.fullcontact.com/v2/person.json?apiKey={0}&amp;email={1}" />
    <add key="AppBlocks.FullContact.ApiId" value=""/>
  </appSettings>
</configuration>